.separtor
{
	border-bottom: 2px solid rgb(19, 19, 19);
    margin: 30px 0px;
    box-shadow: 0px 6px 4px -6px rgba(0,0,0,0.78);
}
.selectMenu
{
	text-decoration: none;
    display: inline-block;
	background-color: #ffffff;
	font-size: 20px;
    color: black;
    width: 100%;
}
.selectMenu i
{
    float: left;
    margin-right: 20px;
}
.selectMenu:hover
{
	background-color: #e2e0e0;
	text-decoration: none;
    color: black;
}
.controlDiv
{
    display: inline-block;
    margin-bottom: 5px;
}
.controlDiv > label
{
    position: relative;
    top:8px;
}
.controlDiv .form-check
{
    margin-top: 37px;
}
.container-fluid
{
    background: rgb(0,52,112);
    background: radial-gradient(circle, rgba(0,52,112,1) 52%, rgba(0,25,55,1) 100%);
/*
    background: linear-gradient(90deg, rgba(195,113,113,1) 0%, rgba(220,178,178,1) 1%, rgba(232,232,232,1) 2%, rgba(255,255,255,1) 50%, rgba(232,232,232,1) 98%, rgba(220,178,178,1) 99%, rgba(195,113,113,1) 100%);    
    
    
    
    background: rgb(0,52,112);
    background: radial-gradient(circle, rgba(112,0,0,1) 52%, rgba(166,0,0,1) 100%);
    
    background: rgb(230,230,230);
    background: radial-gradient(circle, rgba(230,230,230,1) 65%, rgba(223,189,189,1) 100%);*/
}
.divFile
{
    border: 2px solid black;
    width: 130px;
    height:80px;
    margin: 10px;
    display: inline-block;
}

.img_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    overflow:hidden;
  }
  
  .img_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .img_card img {
    border-radius: 5px 5px 0 0;
  }
  
  .img_card_top {
    padding: 2px 16px;
  }

  .img_card_top button {
    float: right;
  }

